div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

/* Posicionamiento relativo se posiciona en relacion al posicionamiento original */
.relative{
    position: relative;
    margin-left: 10px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}
/* posicionamiento absoluto se posiciona en relacion de su elemento padre */

.absolute {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.relative.contenedor{
    width: 300px;
    height: 1900px;
    background-color: blue;
}
/* posicionamiento pegajoso al hacer scroll modifica su posicionamiento relative->fixed*/

.sticky {
    position: sticky;
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}



